apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: production-pool
  namespace: metallb
spec:
  addresses:
  - 10.0.0.230-10.0.0.240

--- 

apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: production-l2
  namespace: metallb
spec:
  ipAddressPools:
  - production-pool